@media screen and (max-width: 320px) {
  .card__image {
    height: 288px;
    width: 288px;
  }
}

.card {
  max-width: 413px;
  max-height: 445px;
}
.card__like-btn {
  background-image: url(../images/Like\ Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-repeat: none;
  background-position: cover;
  opacity: 40%;
}

.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
}
